.top-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
}

.top-page > div{
    width: 15%;
}

.top-page h2{
    text-align: center;
    width: 70%;
}

.back-button a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--link-color);
}

.back-button a:hover{
    text-decoration: underline;
}

.back-button span{
    padding-bottom: 5px;
}

.back-button img{
    height: 25px;
}

.hidden{
    display: none;
}

@media screen and (min-width: 781px) {
    .top-page{
        justify-content: center;
    }

    .top-page h2{
        width: 100%;
    }
}