#comment-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    max-width: calc(1170px - 390px);
    width: 100%;
}

#comment-section h2{
    font-size: 1.3rem;
}

#giscus{
    margin-top: 30px;
}