.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img{
    width: 30%;
    border-radius: 50%;
}

#presentation, #activity{
    padding: 0 15px;
    margin-top: 30px;
    width: calc(100% - 30px);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 15px 15px 15px;
    margin-left: 15px;
}

#presentation h4, #activity h4{
    margin-bottom: 5px;
    font-size: 1.1rem;
}