body{
  background-color: var(--main-color);
  color: var(--text-color);
  overflow-x: hidden;
  width: 100dvw;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-top: 40px;
}

header{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  max-width: 780px;
  left: 0;
  padding: 0 15px;
}

header h1{
  margin: 20px 0;
  color: var(--text-color);
}

main{
    position: absolute;
    min-height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 100%;
    background-color: var(--main-color);
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.show{
  left: 0;
  display: flex;
}

.side{
  right: 20%;
}

@media screen and (min-width: 781px) {
  header{
    left: 0;
    width: 390px;
    border-right: 1px solid var(--line-color);
    z-index: 3;
  }

  main, .show{
    width: calc(100% - 390px);
    right: 0;
    left: auto;
    align-items: center;
  }
}