.langage-card{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:default !important;
}

#lang{
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--line-color);
    border-radius: 10px;
    padding: 3px 10px;
}